name: Build and publish the documentation microsite

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'figlet4s-microsite/**'
      - 'project/**'
      - 'build.sbt'
  pull_request:
    branches:
      - master
    paths:
      - 'figlet4s-microsite/**'
      - 'project/**'
      - 'build.sbt'

jobs:
  publish_microsite:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          # Use this or sbt-dynver won't see the tag
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'sbt'

      - name: Set up sbt
        uses: sbt/setup-sbt@v1

      - name: Install Jekyll
        run: |
          sudo gem install bundler 'jekyll:~>4.0.0'
          echo "$HOME/gems/bin" >> $GITHUB_PATH
          echo "GEM_HOME=$HOME/gems" >> $GITHUB_ENV

      - name: Publish microsite
        run: sbt "figlet4sMicrosite/publishMicrosite"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
