name: Publish artifacts to Sonatype

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'figlet4s-core/**'
      - 'figlet4s-effects/**'
      - 'figlet4s-java/**'
      - 'project/**'
      - 'build.sbt'

jobs:
  test_library:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'sbt'

      - name: Set up sbt
        uses: sbt/setup-sbt@v1

      - name: Install Figlet
        run: sudo apt-get install -y figlet

      # - name: Run tests on all versions
      #   run: sbt +test
